In [1]:
from dask_jobqueue import LSFCluster
from dask.distributed import Client
import dask.dataframe as dd
import dask.array as da

In [33]:
cluster = LSFCluster(cores=15, memory='250GB', queue='bigmem', walltime='00:10')
cluster

VBox(children=(HTML(value='<h2>LSFCluster</h2>'), HBox(children=(HTML(value='\n<div>\n  <style scoped>\n    .dâ€¦

In [34]:
client = Client(cluster)
client

In [35]:
df = dd.demo.make_timeseries(start='2000-01-01',
                             end='2000-12-31',
                             dtypes={'x': float, 'y': float, 'id': int},
                             freq='10ms',
                             partition_freq='24h')
df

Dask DataFrame Structure:
                    id        x        y
npartitions=365
2000-01-01       int64  float64  float64
2000-01-02         ...      ...      ...
...                ...      ...      ...
2000-12-30         ...      ...      ...
2000-12-31         ...      ...      ...
Dask Name: make-timeseries, 365 tasks

In [36]:
df.head()

                           id         x         y
timestamp
2000-01-01 00:00:00.000  1013  0.849512  0.443433
2000-01-01 00:00:00.010   989  0.063587  0.636414
2000-01-01 00:00:00.020   993  0.627234  0.766118
2000-01-01 00:00:00.030  1006  0.400670 -0.619518
2000-01-01 00:00:00.040   976  0.310427  0.760433

In [37]:
df = df.persist()

In [38]:
# Calculate the mean of the x and y columns for different ids
%time df.groupby('id')[['x', 'y']].mean().compute()

CPU times: user 4.13 s, sys: 311 ms, total: 4.44 s
Wall time: 11.7 s

             x         y
id
834   0.084535 -0.036087
839  -0.075702 -0.016139
846  -0.005721 -0.067186
850   0.006626  0.023603
853  -0.010294 -0.016119
855  -0.007222  0.019299
856   0.014822  0.005952
857   0.030466  0.026414
858  -0.020837  0.006224
859  -0.004619  0.003068
860   0.005515  0.011305
861  -0.008403 -0.016422
862   0.006029 -0.024654
863  -0.006526 -0.002182
864  -0.008600  0.025575
865   0.009356  0.001527
866   0.016326 -0.004683
867  -0.000711  0.001319
868  -0.003117 -0.003674
869   0.002832 -0.019270
870   0.008347  0.010476
871  -0.003290 -0.003132
872   0.000263 -0.004131
873   0.006079 -0.002839
874   0.003662  0.004064
875   0.000415 -0.002702
876  -0.003248  0.002835
877  -0.006450 -0.000843
878  -0.001412  0.003851
879  -0.001813  0.003872
...        ...       ...
1179 -0.188412 -0.076662
1184 -0.046318 -0.238728
1181 -0.062509  0.002000
835   0.117864  0.203197
832  -0.221431 -0.052711
824  -0.554833  0.005097
829   0.039379 -0.269624
802   0.192024  0.456380
1185 -0.579270 -0.732888
827   0.354124  0.361385
814   0.387432  0.250784
1176  0.258666 -0.001545
1187  0.409307 -0.611318
1192  0.382556  0.425654
1193  0.325359 -0.368368
1180  0.198614  0.063266
825   0.484230 -0.139656
1191 -0.693536 -0.439042
823  -0.124726  0.156654
820  -0.460132  0.555703
826   0.016585  0.576335
818   0.809458 -0.489918
817  -0.510443 -0.390357
1186 -0.153598 -0.384320
1189  0.513876  0.918433
1190 -0.299105  0.253089
822   0.434645  0.503989
1201 -0.822270 -0.588477
821  -0.823068  0.588445
1188 -0.099036  0.032829

[379 rows x 2 columns]

In [39]:
# Calculate a rolling 1 minute window. Take the standard deviation for each windows. 
# Remove the first and last day of data. Find the index that corresponds to the maximum.
%time df.x.rolling('1min').std().loc['2000-01-02':'2000-12-30'].idxmax().compute()

CPU times: user 1min 14s, sys: 6.28 s, total: 1min 20s
Wall time: 5min 40s

Timestamp('2000-10-03 21:53:21.400000')

In [41]:
# Calculate the singular vector decomposition# Calcu 
u, s, v = da.linalg.svd(df.values + 1)
s

dask.array<getitem-d64bfb400719bde8e4fb1e82760c8eab, shape=(3,), dtype=float64, chunksize=(3,)>

In [42]:
%time s.compute()

CPU times: user 7.09 s, sys: 600 ms, total: 7.69 s
Wall time: 26.8 s

array([5.62411570e+07, 3.25189399e+04, 3.24223565e+04])